<div class='board-wrapper'>
<nav-dir></nav-dir>
<div class='board-title'>{{currentBoard.title}}<span ng-click='menuOpen=!menuOpen' class='menu-button'>Show Menu</span></div>
<div class='board-menu'>
<div ng-class='{"menu-open": menuOpen}' class='board-content'>
    <ul class='board-lists'
     dnd-list='lists'
      dnd-allowed-types="['list']"
       dnd-drop='dropCallback(index, external, type, callback)'>
        <li ng-repeat="list in lists | orderBy : 'list_position'" dnd-draggable='list'
          dnd-type="'list'"
           dnd-effect-allowed='move'
             dnd-dragstart='dragStartCallback(list.list_id, list.list_position)'>
            <list-dir labelquery='{{search_label}}' query='{{search_term}}' class='list' list='list' update-lists='getLists()'></list-dir>
        </li>
        <li class="add-list hover-class">
        <div ng-hide='addList' ng-click='addList=!addList'>
            Add a list...
        </div>
            <!-- <div class='list' ng-show='addList'>
            <input type="text" ng-model='newList.name'>
            <button ng-click='createList(newList); addList=!addList'>Save list</button><button ng-click='addList=!addList'>X</button>
            </div> -->
            <div id='addList' ng-show='addList' class='list'>
            <textarea placeholder='Add a list...' type="text" ng-model='newList.name'></textarea><br>
            <div class='add-card-controls'>
            <button ng-click='createList(newList)'>Save</button><span class='cancel-button' ng-click='addList=!addList'>+</span>
            </div>
            </div>
        </li>
    </ul>
</div>
  <div ng-show='menuOpen' class='menu'>
  <div class='title'>Menu</div>
  <span ng-click='menuOpen=!menuOpen' class='menu-right'><i class="fa fa-times" aria-hidden="true"></i>
</span>
  <div class='users'>
    <span ng-repeat='otheruser in users'>
      <user-card-dir title='{{otheruser.email}}' class='user-card-dir' username='{{otheruser.name}}'></user-card-dir>
    </span>
  </div>

    <div class='add-user'>
      <input placeholder='Add User By Email...' type="text" ng-model='newUser.email'>
      <button ng-click='addUser(newUser)'><i class="fa fa-user-plus" aria-hidden="true"></i>
</button>
    </div>

    <div class='filter'>
      <textarea ng-model='search_term' placeholder='Search Cards...'></textarea>
       <select ng-model='search_label' name="labels">
          <option value=''>All</option>
          <option class='green' value='green' >Green</option>
          <option class='yellow' value='yellow' >Yellow</option>
          <option class='red' value='red' >Red</option>
</select>


    </div>
    
  </div>
  </div>
</div>

