<div class='modal-open'>
	<div class='modal-open-content'>
    <div class='comment-header'><span class='large-logo'><i class="fa fa-trello" aria-hidden="true"></i>
</span>{{card.name}}</div>
    <div>{{card.description}}</div>
    <div class='comment-box-left'>
        <div class='title'>Add Comment</div>
        <div>
            <div class='comment-container'>
                <textarea ng-model='newComment.comment_content' type="text" class='comment-box' placeholder='Write a comment...'></textarea>
            </div>
            <button ng-click='createComment(newComment)'>Send</button>
        </div>
        <div class='comments-title'><i class="fa fa-comments" aria-hidden="true"></i>
<span>Comments</span></div>
        <div class='comment' ng-repeat='comment in comments | orderBy : comment.comment_id'>
            <div class='name'>
                <user-card-dir class='user-card-dir' username='{{comment.user_name}}'></user-card-dir> <span>{{comment.user_name}}</span>
            <br>
            <div class='content'>{{comment.comment_content}}</div>
            </div>
        </div>
    </div>
    <div class='comment-right'>
        <button>add label</button>
    </div>
    </div>
</div>
