<nav-dir></nav-dir>
<div class='boards-content'>
    <br>
    <div class='boards'>
        <div class='board' ng-repeat='board in boards' ui-sref='board({board_id:board.board_id})'>{{board.title}}
        </div>
        <div id='addBoard' class='board add-board'>
        	<div ng-click='addBoard=!addBoard' ng-hide='addBoard'>Add Board...</div>
            <div ng-show='addBoard'>
                <input type='text' ng-model='newBoard.name'><br>
                <button class='board-button' ng-click='createBoard(newBoard); addBoard=!addBoard'>Create Board</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!-- <input type="text" ng-model="user.name">
        <input type="text" ng-model="user.email">
        <button type="button" ng-click="updateUser(user)">update</button> -->
    </div>
</div>